<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">We specialize in optimization engine development.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-event fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Decision Support Systems</h4>
                    <p class="text-muted">Identify inefficient practices and the best course of action to operational or strategic business decisions. We provide state-of-the-art algorithms and analytical methods tailored to business needs. We develop engines that generate applicable schedules that maximize profit and quality of service, optimal routes etc. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Assess the performance of an existing system & the consequences of an investment
                        Infer the outcomes of important strategic decisions and inevitable changes. Transportation, network optimization, warehouse layout analysis for better utilization of resources
                        Eliminate practices that would ultimately translate into financial loss due to human decision-making</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Science</h4>
                    <p class="text-muted">Better decisions via advanced data analysis. Clean and categorize, reveal undiscovered trends, patterns, anomalies, causalities.
                        Dissect important features and make predictions for streaming data.</p>
                </div>
            </div>
        </div>
    </section>